<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            tools:node="remove" />

        <service
            android:name=".HbxFirebaseMessagingService"
            tools:node="remove" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>
</manifest>
